.footer {
  background-color: #2C2B2B;
  padding: 25px;
  margin-top: 30px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
li a{
  color: #66DE89;
}

.footer p {
  color: gray;
  text-align: center;
}

img {
  border-radius: 50px;
}
